

.board {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    /*margin: 20px;*/
    border: 0px solid #333;
}



.square {
    float: left;/*
    width: 80px;
    height: 80px; */
    /*background-color: #999;*/
    display: table-cell; 
    vertical-align:middle;
    overflow: hidden;
}

.row {
    float: left;
    width: 100%;
    display: table-cell; 
    vertical-align:middle;
}



.piece {
    height: 100%;
    background: url(Chess_Pieces_Sprite.svg);
    background-repeat: no-repeat;
    background-size: 600% auto;

}

.header {
    text-align: center;
}